name: Release

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: write

jobs:
  ci:
    name: Call CI
    uses: ./.github/workflows/ci.yml

  publish:
    runs-on: ubuntu-latest
    needs: ci
    environment:
      name: release
      url: https://pypi.org/project/sendgrid-async/

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.4.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install build dependencies
        run: poetry install --no-dev

      - name: Build distribution
        run: poetry build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@v3.0.1
        with:
          inputs: >-
            dist/*.tar.gz
            dist/*.whl

      - name: Upload distribution files
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}